@import "../components/buttons";
.navBar{
      position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: 10vh;
    background-color:$base-color;
    width: 100%;
    color: $filler;
    font-size: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    .container{
        @include between;
        align-items: center;
        margin:10px;
        .navLeft {
            display: flex;
            align-items: center;
            .logo img {
                height: auto;
                margin-right: 35px;
            }
        
            .navBtn {
                margin-right: 30px;
            }
        }
        .navRight{
            @include between;
            a{
            margin-right: 25px;
            text-decoration: none;
            color: $filler;
        }
        button{
            @extend .defButton;
        }
        }

    }
}