.searchBox {
    width: 100%;
    height: 10vh;
    margin-bottom: 20px;
  
    .container {
      width: 70%;
      height: 100%;
      align-items: center;
      padding: 20px;
  
      .row {
        @include between;
      }
    //   .row .col-3{
    //     text-align:center;
    //     @include center;
    //   }
      .col-6,
      .col-3 {
        //border: 1px solid $bootColor;
        border-radius: 2px;
      }

  
      .btn-outline-primary {
        border: none;
        color: $bootColor;
      }
  
      .input-group {
        border: 1px solid $bootColor;
        border-radius: 5px;
        background-color: $filler;
        padding: 5px;
      }
  
      .form-control {
        border: none;
      }
  
      .right {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        button {
            border: 1px solid $bootColor;
          border-radius: 5px;
          padding: 10px 20px; 
          background-color: $filler;
          margin-right: 10px;
          margin-left: 10px; 
          display: flex;
          text-align:center;
  
          i {
            margin-right: 10px;
            color: $bootColor;
          }
        }
  
        .submit {
          button {
            background-color: $base-color;
            font-size: 18px;
            color: $filler;
            border: none;
          }
        }
      }
    }
  }
  