
/* 2 */
.hoverUpper,
.hoverLower {
    height: 100px;
    width: 100px;
}

.hoverUpper {
    background-color: #D92426;
    transition: width 500ms ease;
}

.hoverLower {
    background-color: #3400FA;
    transition: width 500ms ease;
    transition-delay: 500ms;
}

.hoverUpper:hover {
    width: 400px;
}

.hoverUpper:hover~.hoverLower {
    width: 400px;
}

