.windows {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.win1 {
    top: 0;
    left: 0;
    background-color: #D92426;
    transform-origin: top left;
}

.windows:hover .win1 {
    transform-origin: top left;
    transform: rotate(90deg);
}

.win2 {
    top: 0;
    left: 100px;
    background-color: #FCFF49;
    transform-origin: top right;
}

.windows:hover .win2 {
    transform-origin: top right;
    transform: rotate(-90deg);
}

.win3 {
    top: 100px;
    left: 0;
    background-color: #3400FA;
    transform-origin: bottom left;
}

.windows:hover .win3 {
    transform-origin: bottom left;
    transform: rotate(-90deg);
}

.win4 {
    top: 100px;
    left: 100px;
    background-color: #457F1A;
    transform-origin: bottom right;
}

.windows:hover .win4{
    transform-origin: bottom right;
    transform: rotate(90deg);
}

.win1,
.win2,
.win3,
.win4 {
    width: 100px;
    height: 100px;
    position: absolute;
    animation-duration: 1s;
    transition: transform 1s ease-in-out;
    transform: rotate(0deg);
}

