.grid{
    width:100%;
    display:flex;
    justify-content:center;
    .gridContainer{
        width: 90%;
        padding:50px;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap:40px;
        .card{
            border:1px solid $secGray;
            border-radius: 5px;
            text-align:center;
            width:100%;
            .cardFooter{
                padding:20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .image{
               
                img{
                    height:100%;
                    width:100%;
                    object-fit: cover;
                }
            }
            h3{
                font-weight: 800;
                font-size:1.25rem;
            }
            h3, p{
                margin-bottom:15px;
            }
            button{
                padding: 10px 15px;
                display: flex;
                align-items: center;
                border: 1px solid $mainGray;
                border-radius: 5px;
                a{
                text-decoration:none;
                color:$default;}
            }
            button:hover{
                background-color: $mainGray;
                transition: 500ms ;
                a{
                    color:$filler;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .grid .gridContainer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}

@media only screen and (max-width: 649px) {
    .grid .gridContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}






