//header button
.navBar {
    .container {
        .navRight {
            .signBtn {
                display: inline-block;

                .btn-primary {
                    cursor: pointer;
                    transition: background-color 0.3s, border-color 0.3s;

                    &:hover {
                        background-color: $base-color;
                        border-color: $accent;
                    }
                }
            }
        }
    }
}


//navigation buttons
.navBar {
    .container {
        .navLeft {
            position: relative;

            .navBtn {
                position: relative;
                display: inline-block;
                padding: 10px 20px;
                cursor: pointer;
                color: $filler;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: $accent;
                    transition: width 0.5s;
                }

                &:hover {
                    color: $accent;

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}



//hero button 
.hero,
.explore {

    button {
        display: block;
        border: none !important;
        text-shadow: none;

        background: linear-gradient(to right, $base-color 50%, $accent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .3s ease-out;
    }


    button:hover {
        background-position: left bottom;
    }

    p {
        margin: 0;
    }



}



//card image grow
.card {
    overflow: hidden;
}

.img-fluid {
    max-width: 100%;
    transition: transform 1s ease;
    object-fit: cover;
    overflow: hidden;
}

.img-fluid:hover {
    transform: scale(1.1);
    overflow: hidden;
}

//explore's categories background animation
.expRight {
    .row {
        .col-3 {

            display: inline-block;
            line-height: 100%;
            position: relative;
            -webkit-transition: border-color .35s ease, background .35s ease;
            transition: border-color .35s ease, background .35s ease;
        }

        .col-3:before {
            background-color: #f2f4f8;
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;

            -webkit-transition: all .35s ease;
            transition: all .35s ease;

        }

        .col-3:hover:before {
            top: 0;

        }



        .col-3:after {
            position: absolute;
            right: 2.34375rem;
            top: 50%;
            -webkit-transform: translateY(-50%) translateX(50%);
            -ms-transform: translateY(-50%) translateX(50%);
            transform: translateY(-50%) translateX(50%);
            font-size: 1.75em;
        }

        .expImg,
        .expCat {
            z-index: 3;
        }

        

    }
}