$base-color: #004274;
$accent: #00AEFF;
$filler: #FFFFFF;
$bootColor: #a5a5a5;
$bgGray: #f2f4f8;
$default:#000000;
$teamColor: #33384e;
$footerBlack: #1a1a1a;
$footerBlue: #004274;
$creditBg:#f2f6f9;
$creditGray:#5e5e5e;